@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scrollbar-width: none; 
    background-color:#141414;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  .movie-list::-webkit-scrollbar {
    display: none;
  }